@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    background-image: url('./Assets/bg-image.png');
    font-family: "Nunito", sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#confetti{
    height: 2px;
    width: 100px;
}

.container{
    background-color: #BACCE3;
    border-radius: 1rem;
    display: flex;
    height: 440px;
    width: 700px;
    flex-direction: column;
    box-shadow: 1px 1px 7px #d3d3d3;
}

.container .content-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.game-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.game-details h1{
    font-size: 40px;
    color: #000000;
}

.game-details p{
    font-size: 18px;
}

.input-details{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-details form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.input-details .guessField{
    height: 3rem;
    width: 20rem;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 700;
}

.input-details .guessField::placeholder{
    color: #616161;
    text-align: center;
}

.input-details .guessField:focus{
    text-align: center;
    outline-color: #3695C3;
}

.input-details .guessField:focus::placeholder {
    color: transparent;
}

.input-details .submit-btn{
    height: 2.2rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: #3877a1;
    color: #ffffff;
    border:none;
    cursor: pointer;
    border-radius: 2px;
    letter-spacing: 0.9px;
}

.input-details .submit-btn:hover{
    background-color: #3695C3;
}

.content-wrapper .result-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.result-details .result-msg{
    font-size: 1.3rem;
    font-weight: 600;
}

.game-stats{
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3.1rem;
    align-items: flex-end;
}

.game-stats .playAgain-btn{
    height: 2.2rem;
    width: 7rem;
    font-size: 1rem;
    background-color: #3877a1;
    color: #ffffff;
    border:none;
    cursor: pointer;
    border-radius: 2px;
    letter-spacing: 0.9px;
}

.game-stats .playAgain-btn:hover{
    background-color: #3695C3;
}